<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>about us</title>
</head>
<body>
    <header>
    </header>
    <div class="lina">
        <a href="/">
            <span>Home</span>
            <div class="lina"></div>
        </a>
    <section class="content">
        <div class="company-info">
            <h2>Une Société Anonyme Engagée</h2>
            <p>Bienvenue dans notre univers, où l'innovation et la tradition se rencontrent. Nous sommes une entreprise anonyme, avec une participation portugaise de 98%, dédiée à l'art de la fabrication de liants : le ciment gris de qualité supérieure et la chaux artificielle.</p>
        </div>
        <div class="quality-commitment">
            <h2>Notre Engagement envers la Qualité</h2>
            <p>Au cœur de notre entreprise se trouve un engagement envers l'excellence. Nous sommes fiers de détenir les prestigieuses certifications ISO 9001:2000 et ISO 9014:2004, témoignant de notre dévouement inébranlable envers la qualité dans tous les aspects de notre activité.</p>
        </div>
        <div class="legacy-expertise">
            <h2>Un Héritage d'Expertise</h2>
            <p>Notre périple a débuté en 1973, et en juin 1977, nous avons fait nos premiers pas dans la production. Au fil des décennies, nous avons perfectionné notre savoir-faire, accumulant une expertise inestimable dans la production de ciment et devenant une force majeure dans le monde des matériaux de construction.</p>
        </div>
    </section>
    <section class="call-to-action">
        <p>Rejoignez-nous dans notre mission de construire mieux, de construire plus intelligemment et de construire de manière durable.</p>
        <a href="/contact" class="cta-button">Contact Us</a>
    </section>
    <footer>
        <p>&copy; 2023 Votre Entreprise. Tous droits réservés.</p>
    </footer>
</body>
</html>
