<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Contact</title>
</head>
<body>
    <header>
    </header>
    <div class="lina">
        <a href="/">
            <span>Home</span>
            <div class="lina"></div>
        </a>
    <section class="contact-info">
        <h2>Responsable :</h2>
        <p>Pedro Miguel Rodrigues</p>
        <h2>Adresse :</h2>
        <p>RTE EL HAMMA KM 10 BP 101 - 6000 - GABES - Gabes - Tunisie</p>
        <h2>Tél :</h2>
        <p>(216) - 71 950 952 / 75 350 722</p>
        <h2>Fax :</h2>
        <p>(216) - 71 950 939 / 75 350 072</p>
        <h2>E-mail :</h2>
        <p><a href="mailto:prodrigues@scg.com.tn">prodrigues@scg.com.tn</a></p>
        <h2>Site Web :</h2>
        <p><a href="http://www.secil.pt" target="_blank">www.secil.pt</a></p>
    </section>
    <footer>
        <p>&copy; 2023 Votre Entreprise. Tous droits réservés.</p>
    </footer>
</body>
</html>
