<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1> 
            Société des ciments <br> de gabès <br>- groupe secil -
        </h1>
    </header>
    <div class="container">
        <a href="/login">
            <span>Login</span>
            <div class="container"></div>
        </a>
        <a href="/signup">
            <span>Sign Up</span>
            <div class="container"></div>
        </a>
        <a href="/contact">
            <span>Contact</span>
            <div class="container"></div>
        </a>
        <a href="/about">
            <span>About</span>
            <div class="container"></div>
        </a>
    </div>
    <nav>
        <!-- Navigation links can go here -->
    </nav>
    </main>

    <footer>
    </footer>

    <script src="script.js"></script> <!-- Link your JavaScript file here -->
</body>
</html>
